theme "vesper"
simplified_ui true
copy_on_select true
keybinds {
    shared_except "locked" {
        bind "Ctrl y" {
            LaunchOrFocusPlugin "forgot" {
                floating true
            }
        }
    }
}
