layout { 
    pane size=2 split_direction="vertical" {
        pane size="75%" borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane size="25%" borderless=true {
            plugin location="what-time" {
                time_format "%H:%M:%S"
                interval_update "1.0"
            }
        }
    }
    pane
}
